.users{
    text-align: center;
    margin: 7vw;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
tr:nth-child(even) {
background-color: #dddddd;
}
tr:not(:first-child):hover{
    background-color: #f3cd14;
    transition: 0.5s;
}
@media only screen and (max-width: 600px){
    .users{
        margin: 11vw 10vw;
    }
}